.intro {
  width: 43%;
  padding-left: 14%;
  margin-left: 78px;
}

.intro__logo {
  width: 68px;
  height: 21px;
}

.intro h1 {
  font-size: 46px;
  line-height: 64px;
  margin-top: 20px;
  margin-bottom: 0;
  color: $main-color;
}

.intro p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: $tablet-max-width) {
  .intro {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 62px;
    padding-left: 166px;
    padding-right: 166px;
  }

  .intro__logo {
    display: none;
  }

  .intro h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .intro p {
    font-size: 18px;
    margin-top: 19px;
  }
}

@media (max-width: $mobile-max-width) {
  .intro {
    width: 100%;
    padding-bottom: 53px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .intro h2 {
    margin-bottom: 20px;
  }
}
