.page-header {
  width: $desktop-max-width;
  margin: 0 auto;
  background-image: url("../img/bg-bike-desktop@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 254px;
  padding-left: 280px;
  padding-right: 280px;
  padding-bottom: 219px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header {
    background-image: url("../img/bg-bike-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-max-width) {
  .page-header {
    width: $tablet-min-width;
    background-image: url("../img/bg-bike-tablet@1x.jpg");
    background-position: 1px 0;
  }

  .page-header__wrapper {
    padding-top: 65px;
    padding-left: 166px;
    padding-right: 166px;
    padding-bottom: 50px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image: url("../img/bg-bike-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-max-width) {
  .page-header {
    width: $mobile-min-width;
    background-image: url("../img/bg-bike-mobile@1x.jpg");
  }

  .page-header__wrapper {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image: url("../img/bg-bike-mobile@2x.jpg");
    }
  }
}
