$main-color: #ffffff;
$secondary-color: #000000;
$decorative-color1: #0ad9c6;
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-max-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
